{% extends 'base.html' %}
{% load static %}
{% block content%}

    <div class="container bg-color-black">
        <div class="row bg-color-black">  
            <div class="col-12 text-center">
                <h1 class="display-4 lead text-light bg-color-black mx-auto">Start Watching Now!</h1>
            </div>
        </div>
    
    <div class="row">
        <div class="col-12 pt-4 text-center">
        <a class="" href="{% url 'videos' %}">
            <button type="button" class="btn btn-danger btn-lg">Start watching now</button>
        </a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <h3 class="text-center text-warning">Latest releases</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 text-center">
            <iframe class="w-100" height="315" src="https://www.youtube.com/embed/UXauRmhgnVk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
            <div>
                Video discription
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <iframe class="w-100" height="315" src="https://www.youtube.com/embed/q0BaxJfqTFo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div>
                Video discription
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <iframe class="w-100 m1" height="315" src="https://www.youtube.com/embed/xYYFtYeiuCY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    </div>
{% endblock %}