{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        {% for subscription in premium %}
        <div class="col-12 col-lg-6">
            <div class="container">
                <h3 class="text-center capitalize">{{subscription.name}} accounts</h3>
                <p>price</p>
                <p>{{subscription.price}}</p>
            </div> 
        </div>
        {% endfor %}
                <a href="{% url 'checkout' %}">
                    <div class="btn">Buy Premium!</div>
                </a>
    </div> 
</div>
{% endblock %}