a{
    text-decoration: none;
}

.row{
    margin: 0px;
    padding: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.bg-color-black{
    background-color:#000511;
}
.bg-color-blackish{
    background-color: #070d19;
}