<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <title>Video DJ</title>
    </head>
  <body class="bg-color-black">
    <header class="bg-color-blackish">
        <div class="row justify-content-between my-auto mx-auto">
            <div class="col-12 col-lg-4 center-text pt-2">
                <a href="{% url 'home' %}"><h2> Video DJ</h2></a>
            </div>
            <div class="col-12 col-lg-4 text-center">
                <div class="row pt-2">
                {% if request.user.is_authenticated %}
                    <div class="col-12">
                        <a class="" href="{% url 'account_logout' %}">Log Out</a>
                    </div>
                {% else %}
                    <div class="col-8">
                        <a class="my-auto" href="{% url 'account_signup' %}">Register</a>
                    </div>
                    <div class="col-4">
                        <a class="my-auto" href="{% url 'account_login' %}">Log In</a>   
                    </div>
                {% endif %}
                </div>
            </div>
            
        </div>
        <div class="row pb-4">
            <div class="col-12 d-sm-block d-md-none text-center">
                <form method="GET" class="form-inline d-block pt-4" action="{% url 'videos' %}">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search by name, genre or description" name="q" aria-label="Search">
                    <button class="btn btn-outline-success my-auto my-sm-0" type="submit">Search</button>
                </form>
                
            </div>
            <div class="col-12 d-none d-md-block text-center">
                <form method="GET" class="form-inline d-block pt-4 w-100" action="{% url 'videos' %}">
                    <input class="form-control mr-sm-2 w-50" type="text" placeholder="Search by name, genre or description" name="q" aria-label="Search">
                    <button class="btn btn-outline-warning my-auto my-sm-0" type="submit">Search</button>
                    <button class="btn btn-outline-warning my-auto my-sm-0" type="submit">All videos</button>
                </form>
                
            </div>
        </div>
    </header>
    <main class="text-light">
        
        {% if user.is_authenticated %}
        
        <div class="container">
            
            <div class="row bg-danger text-center rounded-0">
                <div class="col-12">
                    <a href="{% url 'premium' %}">
                        <h3>Get premium now!</h3>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>
    </body>
    <script src="https://kit.fontawesome.com/038155ffd3.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>