{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            {% for current_series in current_serie %}
            <h2 class="w-100 mt-4 mb-4"> 
                {{ current_series.friendly_name }}
            </h2>
            <img class="w-50 h-auto" src="{{ current_series.image_url }}" alt="">
            <h3 class="mt-3 mb-3">Description</h3>
            <p class="">{{ current_series.description}}</p>
            <hr>
            {% endfor %}
        </div>
            <h3 class="col-12">Episodes</h3>
            {% for episode in episodes %}
            <div class="col-lg-3 col-s-12 bg-color-warning">
                {% if forloop.counter > 2 %}
                    {% if premium == True %}
                        {% for serie in serie_id %}
                        <a class="btn" href="{% url 'current_episode_details' serie.id episode.id %}">
                            <p class="">{{ forloop.parentloop.counter }} - {{episode.friendly_name}}</p>
                        </a>
                        {% endfor %}
                    {% else %}
                    <p><i class="fas fa-lock">You need premium for this content</i></p>
                    {% endif %}
                {% else %}
                    {% for serie in serie_id %}
                        <a class="btn" href="{% url 'current_episode_details' serie.id episode.id %}">
                            <p class="">{{ forloop.parentloop.counter }} - {{episode.friendly_name}}</p>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-12">
            <h3 class="mb-3 mt-3">Comments</h3>
            {% if comments %}
                {% for comment in comments%}
                <div class="row">
                    <div class="col-12 border">
                        {% for serie in serie_id %}
                        <p><strong>{{comment.name}}</strong></p>
                        <p>
                            {{ comment.comment }}
                        </p>
                        <a class="right" href="{% url 'delete_comment' comment.id %}">
                            <i class="fas fa-trash" ></i>
                        </a>
                        <a href="{% url 'edit_comment' serie.id comment.id %}">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        {% endfor %}
                    </div>
                    <hr>
                </div>
                {% endfor %}
            {% else %}
            <p><i>No comments yet</i></p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% if user.is_authenticated %}
        <h4>Write your own comment here!</h4>
        <form method="POST">
            {% csrf_token %}
            
            <input name="new_comment" id="new_comment" type="text">
            <input type="submit" value="Submit">
            {% else %}
            <p><i>Register and/or log in to place a comment</i></p>
            {% endif %}
        </form>
    </div>
</div>
</div>
{% endblock %}