{% extends 'base.html' %}

{% block content %}
<div class="row">
{{serie.name}}
{% for episode in episodes %}
    <div class="col-12 col-md-6 col-lg-4 mt-4">
        <h2 class="text-light text-center">{{ forloop.counter }} - {{episode.friendly_name}}</h2>
        <iframe class="w-100" height="315" src="{{episode.video_url}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p class="text-light text-center">{{episode.description}}</p>
    </div>
{% endfor %}
</div>
{% for comment in comments%}
<div row>
    <div class="col-12">
        <p>
            {{comment.comment}}
        </p>
        <a href="{% url 'delete_comment' comment.id %}">
            <i class="fas fa-trash" ></i>
        </a>
    </div>
</div>
{% endfor %}
<div class="row">
    <div class="col-12">
        <form method="POST">
            {% csrf_token %}
            <input name="new_comment" id="new_comment" type="text">
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

{% endblock %}